@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default styles for entire app */
html, body {
  @apply transition-colors duration-300 ease-in-out;
}

/* Define light and dark mode variables */
:root {
  --bg-color: #f8f9fa; /* Light background */
  --text-color: #070707;  /* Light text */
  --card-bg: #ffffff; 
  --searchBar-bg: #D9D9D9;
  /* Light card background */
}

/* Dark mode variables */
.dark {
  --bg-color: #05101b;
  --text-color: #ffffff;
  --card-bg: #0f0f0f;
  --comp-bg: #070606;
  --footer-bg: #01020f;
  --searchBar-bg: #292929;
  /* --section-bg: #05101b */
  /* --section-bg: #282c34 */
  --section-bg: #272727

}


.custom-glass {
  @apply bg-white backdrop-blur-lg;
}

/* Variants with different opacities */
.custom-glass-5 {
  @apply bg-white/5 backdrop-blur-lg;
}

.custom-glass-10 {
  @apply bg-white/10 backdrop-blur-lg;
}


/* Apply globally */

.dark-bg {
  @apply bg-gradient-to-br  from-gray-950 via-gray-900 to-black;
}
.light-bg {
  @apply bg-gradient-to-br from-gray-100 via-gray-200 to-white;
}

.theme-border{
  @apply border-2 border-black dark:border-white rounded-lg
}
